<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restaurant.management.product.infrastructure.mapper.ProductMapper">
    
    <!--
        预留复杂 SQL 示例：
        <select id="querySpuWithAggregation" resultType="com.restaurant.management.product.domain.model.ProductSpu">
            SELECT *
            FROM product_spu
            WHERE spu_id = #{spuId}
        </select>
    -->

</mapper>
